tidyverse, 

RSQLite,
sqldf,
RPostgreSQL,

renv,
reticulate,

lme4,
arm,
lmtest,
lmerTest,
DescTools,
performance,

randomForest,
randomForestExplainer,

ineq,

rpostgis,
sp,
ggmap,
GWmodel,
rgdal,
rgeos, 
maptools, 
ggsn,
spdep,  
DCluster,  
gstat, 
tigris,  
raster,  
dismo,  
smacpod,
spatstat,
